<!DOCTYPE html>
<html>
    <head>
        <title>Bagels. Reimagined.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="~/css/styles.css" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/a26d2ada82.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="/"><i class="fa fa-fw fa-home icons"></i> Home</a>
            <a href="/Bagels/Index"><i class="fas fa-dot-circle"></i> Bagels</a>
            <a href="/Toppings/Index"><i class="fas fa-pepper-hot"></i> Toppings </a>
        </div>
        <div class="container">
            <section class="animation-box">
                <div class="first-text">
                    <h1>Bagels.</h1>
                </div>
                <div class="second-text">
                    <h1 class="reimagined">Reimagined.</h1>
                </div>
            </section>
        </div>
    </body>
</html>